<div class="flex-container">
  <h1>hBookmarks#create</h1>
  <p>Find me in app/views/bookmarks/create.html.erb</p>
    <div class="flex-item">...</div>
    <div class="flex-item">...</div>
    <div class="flex-item">...</div>
</div>
